svg {
  width: 65px;
}

.lock, .clipboard {
  width: 44px;
}



// Shared colors: mobile and desktop section nav
.wosBG {
  background: $one;
}

.oosBG {
  background: $two;
}

.securityBG {
  background: $three;
}

.stsBG {
  background: $four;
}

.opBG {
  background: $five;
}
