svg {
  width: 65px;
}

.lock, .clipboard {
  width: 44px;
}

// Shared colors: mobile and desktop section nav
.nav_row:first-child div:first-child,
.my_row:first-child div:first-child {
  background: $one;
}

.nav_row:nth-child(2) div:first-child,
.my_row:first-child div:nth-child(2) {
  background: $two;
}

.nav_row:nth-child(3) div:first-child,
.my_row:first-child div:last-child {
  background: $three;
}

.nav_row:nth-child(4) div:first-child,
.my_row:last-child div:first-child {
  background: $four;
}

.nav_row:last-child div:first-child,
.my_row:last-child div:last-child {
  background: $five;
}
