.desktop_header {
  display: none;
}

.mobile_header {
  background: #5c7684;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  div {
    width: 100%;
    text-align: center;
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}

.menu p {
  font-size: .75rem;
}

.logo {
  height: 88px;
  border-left: 3px solid #fff;
}

.logo svg {
  width: 112px;
  margin-top: -10px;
}



@media (min-width: 768px) {
  .mobile_header {
    display: none;
  }
  .desktop_header {
    display: block;
    padding: 22px 0;
    text-align: center;
    background: #5c7684;
    color: #fff;
    img {
      width: 165px;
    }
    p {
      margin: 0;
      font-weight: bold;
      font-size: 1.22rem;
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}