/*** Objectives ***/

.objectives {
  padding: 5px;
  margin: 25px 0;
}

.objective_title {
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  border: 2px solid lightgray;
  padding: 10px;
  min-height: 80px;
  .objective_number {
    background: $one;
    font-size: .90rem;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  p {
    margin: 0 0 0 10px;
    font-size: .98rem;
    flex: 1;
  }
  i {
    align-self: flex-end;
    transition: transform .3s;
  }
}

// rotate arrow down for mobile
.arr_down {
  transform: rotate(90deg);
}

// Hide info on mobile for dropdown
.objective_info {
  max-height: 0;
  overflow: hidden;
  transition: all .7s ease-in-out;
}

.objective_info > ul {
  margin: 15px;
}

// If drop downs are cut off, adjust this
.show_info {
  max-height: 1500px;
}




@media (min-width: 768px) {
  .objective_title {
    border: none;
    min-height: 0;
    cursor: default;
    p {
      font-size: 1.6rem;
    }
  }
  .objective_info {
    max-height: 100%;
  }
  .objective_info > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .three_col > ul {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  // Breakout sub menus into two columns if necessary
  .submenu > li ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin: 5px 0;
  }
}