@import "variables";
@import "default";
@import "header";
@import "mobile-nav";
@import "desktop-nav";
@import "objectives";
@import "grid";
@import "totop";
@import "footer";

main {
  margin-top: 100px;
  .section_heading {
    text-align: center;
  }
}

section {
  display: none;
}

.curr {
  display: inherit;
}



@media (min-width: 768px) {
  main {
    margin-top: 45px;
  }
}

