body {
  background: whitesmoke; }

svg {
  width: 65px; }

.lock, .clipboard {
  width: 44px; }

.objectives hr {
  display: none; }

.objective_info > ul > li {
  font-weight: bold; }

.objective_info > ul > li ul {
  font-weight: normal; }

.wosBG {
  background: #63a70a; }

.oosBG {
  background: #004e71; }

.securityBG {
  background: #f5a81c; }

.stsBG {
  background: #6e2a8d; }

.opBG {
  background: #c1d42f; }

@media (min-width: 768px) {
  .objectives hr {
    display: block; }

  .mobile_active, .fa-chevron-right {
    display: none; } }
.desktop_header {
  display: none; }

.mobile_header {
  background: #5c7684;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%; }
  .mobile_header div {
    width: 100%;
    text-align: center; }
  .mobile_header p {
    margin: 0;
    font-weight: bold; }

.menu p {
  font-size: .75rem; }

.logo {
  height: 88px;
  border-left: 3px solid #fff; }

.logo svg {
  width: 112px;
  margin-top: -10px; }

@media (min-width: 768px) {
  .mobile_header {
    display: none; }

  .desktop_header {
    display: block;
    padding: 22px 0;
    text-align: center;
    background: #5c7684;
    color: #fff; }
    .desktop_header img {
      width: 200px; }
    .desktop_header p {
      margin: 0;
      font-weight: bold;
      font-size: 1.22rem; }
    .desktop_header a {
      color: #fff;
      text-decoration: underline; } }
.mobile_nav {
  position: absolute;
  background: #fff;
  color: #000;
  top: 89px;
  left: -768px;
  transition: left .5s; }
  .mobile_nav .nav_row {
    border-bottom: 2px solid lightgray;
    height: 100px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 5px;
    cursor: pointer; }
    .mobile_nav .nav_row:first-child {
      border-top: 2px solid lightgray; }
    .mobile_nav .nav_row div {
      display: flex;
      justify-content: center;
      align-items: center; }

.menu {
  cursor: pointer; }

.show_menu {
  left: 0; }

.menu_title p {
  font-size: .98rem !important;
  text-align: center;
  font-weight: bold;
  margin: 0; }

/*** TOP OF MAIN ON MOBILE ***/
.mobile_active {
  padding: 10px 0; }

.mobile_active .section_svg_container {
  margin: auto;
  max-width: 200px;
  height: 95px;
  background: #63a70a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px; }

.mobile_active svg {
  width: 100px; }

.desktop_nav {
  display: none; }

.obj_active {
  transform: scale(1.15, 1.15);
  opacity: 1 !important;
  z-index: 1; }

.my_row:first-child div:first-child {
  border-top-left-radius: 7px; }

.my_row:first-child div:last-child {
  border-top-right-radius: 7px; }

@media (min-width: 768px) {
  .desktop_nav {
    margin: 35px auto;
    display: flex;
    max-width: 800px;
    justify-content: center; }

  .my_row {
    display: flex; }

  .my_row div {
    cursor: pointer;
    width: 135px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    transition: all .5s; } }
/*** Objectives ***/
.objectives {
  padding: 5px;
  margin: 45px 0; }

.objective_title {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  border: 2px solid lightgray;
  padding: 10px;
  min-height: 80px; }
  .objective_title .objective_number {
    background: #63a70a;
    font-size: .90rem;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px; }
  .objective_title p {
    margin: 0 0 0 10px;
    font-size: .93rem;
    flex: 1; }
  .objective_title i {
    align-self: flex-end;
    transition: transform .3s; }

.arr_down {
  transform: rotate(90deg); }

/**
TODO take note of this: Use max height and set max height for transition to something bigger than div will ever get
**/
.objective_info {
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in; }

.objective_info > ul {
  margin: 15px; }

.show_info {
  max-height: 900px; }

@media (min-width: 768px) {
  .objective_title {
    border: none;
    min-height: 0;
    cursor: default; }
    .objective_title p {
      font-size: 1.6rem; }

  .objective_info {
    max-height: 100%; }

  .objective_info > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; } }
@media (min-width: 1200px) {
  .submenu > li ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    font-size: .95rem;
    margin: 5px 0; } }
.two_col {
  grid-template-columns: 1fr 1fr; }

.three_col {
  grid-template-columns: 1fr 1fr 1fr; }

.to_top {
  width: 47px;
  height: 47px;
  background: firebrick;
  color: #fff;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  height: 100px;
  background: #5c7684; }

main {
  margin-top: 100px; }
  main .section_heading {
    text-align: center; }

section {
  display: none; }

.section_heading h2 {
  font-size: 2.2rem;
  font-weight: 400; }

.curr {
  display: inherit; }

@media (min-width: 768px) {
  main {
    margin-top: 45px; }

  .section_heading h2 {
    font-size: 3.1rem; } }

/*# sourceMappingURL=main.css.map */
